<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">
        ข้อมูลส่วนตัว
      </v-stepper-step>
      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">
        ประวัตความเสี่ยง
      </v-stepper-step>

      <v-divider></v-divider>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          style="margin-top:2px"
        >
          <v-text-field
            v-model="id"
            :counter="13"
            :rules="rID"
            label="เลขประจำตัวประชาชน"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="sex"
            :rules="emailRules"
            label="คำนำหน้า"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="fname"
            :rules="emailRules"
            label="ชื่อ"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="lname"
            :rules="emailRules"
            label="นามสกุล"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="address"
            :rules="emailRules"
            label="ที่อยู่"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="จังหวัด"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="อำเภอ/เขต"
            required
            outlined
          ></v-text-field>

          <v-text-field
            v-model="email"
            :rules="emailRules"
            label="ตำบล/เขวง"
            required
            outlined
          ></v-text-field>

          <v-text-field
            outlined
            v-model="email"
            :rules="emailRules"
            label="เบอร์มือถือ"
            hint="เฉพาะตัวเลข เช่น 0869999999"
            persistent-hint
            required
          ></v-text-field>
          <!-- <v-checkbox
            v-model="checkbox"
            :rules="[v => !!v || 'You must agree to continue!']"
            label="Do you agree?"
            required
          ></v-checkbox> -->

          <!-- <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="validate"
          >
            Validate
          </v-btn> -->

          <!-- <v-btn color="error" class="mr-4" @click="reset">
            Reset Form
          </v-btn> -->

          <!-- <v-btn color="warning" @click="resetValidation">
            Reset Validation
          </v-btn> -->
        </v-form>

        <v-btn color="primary" @click="e1 = 2" :disabled="!valid">
          ต่อไป
        </v-btn>

        <v-btn text @click="cancle()">
          ยกเลิก
        </v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card class="mb-12" color="grey lighten-1" height="200px"></v-card>

        <v-btn color="primary" @click="e1 = 1">
          ย้อนกลับ
        </v-btn>

        <v-btn color="success" style="margin-left:2px">
          ส่งแบบสำรวจ
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
export default {
  data () {
    return {
      e1: 1,
      id: '',
      sex: '',
      fname: '',
      lname: '',
      address: '',
      province: '',

      valid: true,
      name: '',
      rEmpty: [v => !!v || 'กรุณากรอกข้อมูล'],
      rID: [
        v => !!v || 'กรุณากรอกข้อมูล',
        v => (v && v.length === 13) || 'กรุณากรอกให้ครบ 13 ตัว'
      ],
      email: '',
      emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+\..+/.test(v) || 'E-mail must be valid'
      ],
      select: null,
      items: ['Item 1', 'Item 2', 'Item 3', 'Item 4'],
      checkbox: false
    }
  },
  methods: {
    validate () {
      this.$refs.form.validate()
    },
    reset () {
      this.$refs.form.reset()
    },
    resetValidation () {
      this.$refs.form.resetValidation()
    },
    cancle () {
      this.$router.push({ name: 'home' })
    }
  }
}
</script>
