<template>
  <v-container fill-height>
    <v-row justify="center" align="center">
      <v-col cols="12" sm="8">
        <div class="text-center">
          <p style="font-size:30px">
            แบบคัดกรอง Covid19 สำนักงานเขตหนองจอก
          </p>
          <v-btn rounded color="primary" dark @click="start()">
            ทำแบบสอบถาม
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  methods: {
    start () {
      this.$router.push({ name: 'covid19' })
    }
  }
}
</script>

<style lang="scss" scoped></style>
