<template>
  <div class="main">
    <div class="glass">
      <div class="header-chat"><p>1</p></div>
      <div class="data-chat">2</div>
      <div class="message-chat">3</div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style lang="css" scoped>
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  font-family: "Fredoka One", cursive !important;
  text-align: center;
  padding: 1%;
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
}

.header-chat {
  border-radius: 2rem;
  /* min-height: 50px; */
  background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-chat {
  border-radius: 2rem;
  /* min-height: 50px; */
  background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-chat {
  border-radius: 2rem;
  /* min-height: 50px; */
  background: chartreuse;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
