<template>
  <div class="main">
    <div class="glass">
      <h1 class="logo">UChat</h1>
      <div>Select room chat</div>
      <v-select
        dense
        v-model="payload.room"
        :items="items"
        outlined
        item-text="name"
        label="Room"
      ></v-select>
      <div>Insert Name Of Chat :</div>
      <v-text-field
        dense
        placeholder="Insert Name Of Chat room"
        label="Name"
        append-icon=""
        outlined
        color
        v-model="payload.name"
      ></v-text-field>

      <v-btn
        v-if="payload.room !== '' && payload.name !== ''"
        elevation="15"
        color="green"
        dark
        @click="saveIO()"
        >Join</v-btn
      >
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      payload: { room: '', name: '', msg: '', id: '' },
      r_name: [v => v],
      items: [
        { name: 'room1' },
        { name: 'room2' },
        { name: 'room3' },
        { name: 'room4' }
      ]
    }
  },
  created () {
    // console.log(this.io)
  },
  methods: {
    saveIO () {
      this.$store.dispatch('io_update', this.payload)
      this.$router.push({ name: 'chatRoom' })
    }
  }
}
</script>

<style lang="scss" scoped>
.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  font-family: "Fredoka One", cursive !important;
  text-align: center;
  padding: 5% 5% 0% 5%;
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 2rem;
}

// .v-list-item__title {
//   font-family: "Fredoka One", cursive !important;
// }
.logo {
  text-align: center;
  font-size: 70px;
  color: royalblue;
  margin-bottom: 15%;
}
// .center {
//   font-family: "Fredoka One", cursive;
//   // background-color: red;
//   width: 70%;
//   height: 70%;
//   margin: auto;
//   text-align: center;
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }
</style>
