<template>
  <div>
    <v-card dark outlined class="uw-img">
      <v-card-actions class="justify-center align-center">
        <v-img :src="image"></v-img>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: Text,
      default: ''
    }
  }
}
</script>

<style lang="css" scoped>
.uw-img {
  background: #272b4a;
  width: 100%;
  height:100%;
  /* height: 20rem; */
}
</style>
