<template>
  <div>
    <v-card outlined dark class="uw-card">
      <v-card-title primary-title>
        {{ title }}
      </v-card-title>
      <v-card-subtitle>{{ description }}</v-card-subtitle>
      <v-card-text class="uw-text">{{ val }}</v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: Text,
      default: ''
    },
    description: {
      type: Text,
      default: ''
    },
    val: {
      type: Text,
      default: ''
    }
  }
}
</script>

<style lang="css" scoped>
.uw-text {
  font-size: 40px !important ;
  color:  white !important;
}
.uw-card {
  background-color: #272b4a !important;
}
</style>
