<template>
  <v-app>
    <div class="main">
      <router-view></router-view>
      </div>

    <!-- </v-container> -->

    <!-- <div class="u-bg">
      <v-toolbar flat class="u-toolbar">
        Licenseplate v1.0.0
        <v-spacer></v-spacer>
        <v-icon dark class="icon-h evation-15">mdi-bell-outline</v-icon>
        <v-icon dark class="icon-h evation-15">mdi-cog-outline</v-icon>
        <v-avatar size="36px" class="elevation-15">
          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
        </v-avatar>
      </v-toolbar> -->
    <!-- <v-row class="u-row">
        <v-col cols="12" md="6">
          <widget-image
            image="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZDCESoLCvVbwxphn6sce_KvbTS6nbZ_mWaQ&usqp=CAU"
          ></widget-image
        ></v-col>

        <v-col cols="12" md="6">
          <v-row>
            <v-col cols="12">
              <widget-text
                title="ทะเบียน"
                description="หมวดและเลขทะเบียนรถ"
                val="กข1234"
              ></widget-text>
            </v-col>
            <v-col cols="12">
              <widget-text
                title="จังหวัด"
                description="จังหวัดที่อยู่บนป้ายทะเบียน"
                val="อ่างทอง"
              ></widget-text>
            </v-col>
          </v-row>
        </v-col>
      </v-row> -->
    <!-- <v-row justify="center" class="px-15">
        <v-col cols="12" lg="12">
          <v-select
            :items="items"
            label="select room"
            dense
            solo
            v-model="ss.room"
            hide-details
          ></v-select>
        </v-col>
        <v-col cols="12">
          <v-card class=""> sdajk</v-card>
        </v-col>
        <v-col cols="8" class="">
          <v-text-field label="Solo" solo dense v-model="ss.msg"></v-text-field
        ></v-col>
        <v-col cols="4">
          <v-btn block color="primary" dark @click="sendMessage">SEND</v-btn>
        </v-col>
      </v-row>

      {{ ss }}
    </div> -->
  </v-app>
</template>

<script>

// import HelloWorld from './components/HelloWorld'
// import Mylib from '@/assets/test.js'
// import socketIO from '../node_modules/socket.io-client/dist/socket.io.js'
export default {
  name: 'App',
  data: () => ({
    items: ['room1', 'room2'],
    // io: socketIO('http://localhost:3000', { forceNew: false }),
    ss: { room: '', name: '', msg: '', id: '' }
  }),
  created () {
    // this.io.emit('a', 'FromClient')
    // this.socketIO()
    // console.log(this.io)s
    // this.io.on('a', (val) => { console.log(val) })
    // const io = socketIO('http://localhost:3000')
    // console.log(io)
    // console.log(Mylib.myfuncA({ message: 'ok' }))
  },
  methods: {
    // sendMessage () {
    //   this.ss.id = this.io.id
    //   this.io.emit('message', this.ss)
    // },
    // socketIO () {
    //   this.io.on('a', val => {
    //     console.log(val)
    //   })

    //   this.io.on('message', val => {
    //     console.log(val)
    //   })
    //   this.io.on('msgFromRoom', val => {
    //     console.log(val)
    //   })
    //   // setInterval(() => {
    //   //   this.io.emit('a', 'FromClient')
    //   // }, 2000)
    // }
  }
}
</script>
<style lang="css" scoped>
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  min-height: 100vh;
  background:linear-gradient(to right top ,#65dfc9,#6cdbed);
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/*
.u-bg {
  padding: 0px;
  min-height: 100vh;
  background-color: #1b203a;
}
.u-toolbar {
  color: #ffffff !important;
  background-color: #1b203a !important;
}
.u-card {
  background-color: #272b4a !important;
  color: #ffffff !important;
}
.icon-h {
  margin: 0px 20px 0px 0px !important ;
  color: #ffffff !important;
  font-size: 20px !important;
}

.u-row {
  padding: 0px 10px 0px 10px;
} */
/*
div {
  font-family: "Prompt", sans-serif;
} */

/* .full-height {
  height: 100%; */
  /* background-color: rebeccapurple; */
/* } */
/*
.application {
  font-family: "Prompt", sans-serif;
} */
</style>
